apiVersion: v1
kind: Service
metadata:
  name: zipkin
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "ai-fitting-mall.labels" . | nindent 4 }}
    app: zipkin
spec:
  selector:
    app: zipkin
  ports:
    - port: {{ .Values.zipkin.port }}
      targetPort: {{ .Values.zipkin.port }}
